.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.project:nth-child(odd) {
    flex-direction: row-reverse;
}

.project img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

.testo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testo-container h1 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.testo-container p {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .project,
    .project:nth-child(odd) {
        flex-direction: column;
    }

    .project h1 {
        font-size: 2rem;
        text-align: center;
    }
    .project p {
        font-size: 1rem;
        text-align: center;
    }
}
