body {
    background-color: #f4f3ef;
    color: #1f2933;
    font-family:
        Times New Roman,
        Times,
        serif;
}

.safe-area {
    max-width: 1500px;
    width: 90vw;
    margin-inline: auto;
}

.spaced-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titolo {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
}

.contenuto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenuto > :not(:last-child) {
    margin-bottom: 0px;
}

.immagine-principale {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.iniziale {
    font-size: 1.9rem;
    line-height: 32px;
}

.iniziale a {
    font-size: inherit;
    font-weight: inherit;
    color: #111827;
    text-decoration: none;
}

nav .iniziale {
    color: #111827;
    font-size: 1.9rem;
}

nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

h1 {
    font-size: 5rem;
    line-height: 104px;
}

h2 {
    font-size: 3.5rem;
    line-height: 56px;
}

h3 {
    font-size: 1.5rem;
    line-height: 32px;
}

h4 {
    font-size: 1.2rem;
    line-height: 24px;
}

p {
    font-size: 27.5px;
    color: #1f2933;
}

h1,
h2 {
    color: #111827;
}

h3,
h4 {
    color: #374151;
}

h1,
h2,
h3,
h4,
p {
    font-weight: normal;
}

.testo {
    margin-top: 3rem;
    text-align: justify;
}

a,
a:visited,
a:focus {
    text-decoration: none;
    color: #374151;
}

nav .menu {
    display: flex;
    width: 40%;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.2rem;
}

.active {
    font-weight: bold;
    color: #111827;
}

.footer {
    color: #6b7280;
    padding-top: 1em;
    padding-bottom: 3em;
    position: relative;
    margin-top: 2.5rem;
}

.footer::after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 1px;
    top: 30%;
    margin-left: 11px;
    background-color: #9ca3af;
}

.title-block {
    width: 100%;
    margin-top: -2rem;
    margin-bottom: 3rem;
}

.title-block h3 {
    letter-spacing: 3px;

    margin-bottom: -3rem;
}

.title-block h1 {
    margin-bottom: 1rem;
}

.title-block h4 {
    margin-top: -0.5rem;
    margin-bottom: 3rem;
}

.full-img {
    width: 100%;
    margin-top: 4rem;
}

.titolo .subtitle {
    font-size: 1.5rem;
    color: #374151;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}

.titolo .scritta-principale {
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    color: #111827;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.1rem;
    border: 1px solid #111827;
    border-radius: 3px;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.cta-button:hover {
    background-color: #111827; /* Sfondo scuro al passaggio */
    color: #f4f3ef; /* Testo chiaro al passaggio */
}

@media (max-width: 1920px) {
    .toggler {
        display: none;
    }
}

@media (max-width: 1200px) {
    .safe-area {
        padding-inline: 1.5rem;
    }
}

@media (max-width: 768px) {
    .h1 {
        font-size: 2.5rem;
        line-height: 44px;
    }
    .h2 {
        font-size: 2rem;
        line-height: 40px;
    }
    .h3 {
        font-size: 1.125rem;
        line-height: 24px;
    }
    .title-block {
        margin-top: 0;
    }
    .toggler {
        opacity: 0;
        z-index: 3;
        display: block;
        cursor: pointer;
        width: 30px;
        height: 10px;
    }
    .hamburger {
        position: absolute;
        right: 0;
        z-index: 2;
        height: 10px;
        width: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .hamburger > div {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: whitesmoke;
    }

    .hamburger > div::before {
        content: "";
        position: absolute;
        top: -10px;
        background-color: inherit;
        width: 100%;
        height: 3px;
    }

    .toggler:checked {
        height: 30px;
    }

    .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
        position: absolute;
        top: 0;
    }

    .toggler:checked + .hamburger > div::before {
        transform: rotate(90deg);
        top: 0;
    }

    .toggler:checked ~ .menu {
        display: flex;
    }

    nav {
        position: relative;
    }

    nav .menu {
        position: fixed;
        height: 100vh;
        width: 100vw;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0%;
        left: 0%;
        background-color: #172327;
        transform: translate(-50% -50%);
    }
}
